.card-img {
    width: 250px;
    height: 250px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: row;
}
.card-styles{
    background-color: yellow;
}
.card-styles{
    background-color: yellow;
}

.card-styles{
    background-color: yellow;
}
