/*
.header{
  background-color: #737272!important;
  border: 1px solid rgba(255, 255, 255, 0.15)!important
}
body{background: linear-gradient(45deg, #736f6b, #C5DDE8)!important;}
.header__item{
  color: #fff!important;
  border: none!important
}
.header__item:hover{
  color: rgb(147, 203, 238)!important;
}
.header__item.active{
  color: rgb(147, 203, 238)!important;
  text-decoration: underline!important;
}

 */
