{
    "extends": [
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "react",
        "@typescript-eslint",
        "jest"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "linebreak-style": "off",
        "react/destructuring-assignment": "off",
        "react/no-access-state-in-setstate": "off",
        "react/jsx-props-no-multi-spaces": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/interactive-supports-focus": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "no-debugger": "warn",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-console": "off",
        "@typescript-eslint/comma-dangle":"off"
    }
}
