body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ::-webkit-scrollbar-track {
  background: white;
  border-radius: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
header,
footer {
  flex: 0 0 content;
}
.main-content-container {
  flex: 1;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
}
