body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
header,
footer {
  flex: 0 0 content;
}
.main-content-container {
  flex: 1;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
}

/* try to create switcher theme */

html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;

  --input-text-color: #ffffff;
  --input-placeholder-text-color: #dddddd;
  --input-background-color: #7c7c7c;
  --input-border-color: #ba8fc2;

  --background-color: #292929;
  --icon-color: #ba8fc2;
}

html[data-theme='light'] {
  --button-text-color: #252525;
  --button-background-color: #f9d4ff;
  --button-border-color: #4e005c;

  --input-text-color: #252525;
  --input-placeholder-text-color: #a7a7a7;
  --input-background-color: #ffffff;
  --input-border-color: #4e005c;

  --background-color: #dfdfdf;
  --icon-color: #4e005c;
}
